* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--textcolor);
}

:root{
    --maincolor: rgb(237,199,176);
    --textcolor:  #123C69;
}

body {
    font-family: 'Mukta', sans-serif;
    background: rgb(237,199,176);
    background: linear-gradient(90deg, rgba(237,199,176,1) 0%, rgba(221,199,183,1) 100%);

}

header{
    display: flex;
    width: 90%;
    
    margin: auto;
    
    align-items: center;
    height: 10vh;
}

.logo-container, .nav-links {
    display:flex;
    
}

#logo{
    width: 80px;
}

.logo-container {
    flex: 1;
}
.logo {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 15px 15px 40px;
}
nav{
    flex: 1;
}
.nav-links{
    justify-content: space-around;
    list-style-type: none;
}

.header-buttons{
    background: none;
    border: 3px solid  var(--textcolor);
    border-radius: 5%;
    padding: 10px 30px;
    transition: .2s transform ease-in-out;
    will-change: transform;
    overflow: hidden;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    
}

.header-buttons::after{
    background-color: var(--textcolor);
    border-radius: 5%;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
    color: var(--maincolor);
    
}
.header-buttons:hover::after{
transform: translate(0,0);

}
.header-buttons:hover{
    border: 2px solid transparent;
    color: var(--maincolor);
    
    transform: scale(1.05);
    will-change: transform;
    
}
.nav-link:hover{
    color: var(--maincolor);
}

main{
    display:flex;
    flex-direction: row;
    
    margin: 10vh;
}

.opis{
    display:flex;
    flex-direction: column;
    flex: 1.5;
}
.name{
    font-size: 5vh;
}
.name, .description {
    display: flex;
    
}
.description{
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
}
.profilepic{
    flex: 1;
    height: 65vh;
    border-radius: 100%;
    border: 4px solid white;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.buttons button {
    margin: 0vh 3vh;
}

.about-main{
    flex-direction: column;
    margin: 3vh 10vh;
}

.section-title{
    font-size: 56px;
    
}
.education{
    display: flex;
    flex-direction: column;

}
.srednja {
    display: flex;
    flex-direction: row;

}

p{
    font-size: 3vh;
    
}

span{
    line-height: 5vh;
    padding: 4px;
}

.logos{
    width: 150px;
    margin: 0px 15px;
}
.desc{
    display:flex;
    flex-direction: column;
    flex:3;

}

.logoti{
display:flex;

flex:1;
}

.faks{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
}

.EDIT{
    display:flex;
    flex-direction: row;
}

.izkusnje-desc{
    margin:5px;
    flex: 1;
}

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
}

.firma-logo{
    flex: 1;
    width: 5vh;
}
.contact-main{
    display:flex;
    flex-direction: column;
}
.social-link{
    flex: 10;
    text-decoration: none;
    margin-left: 30px;
    font-size: 4vh;
}


@media only screen and (max-width: 600px){
    .nav-links{
        
        width: 100%;
        
    }
    .header-buttons{
        font-size: 3vh;

    }
    header{
        width: 100%;
        align-items: stretch;
        margin: 0;
    }
    nav{
        width: 100%;
    }
    .header-buttons{
        width: 100%;
        border-radius: 0%;
        height: 100%;
        
    }
    li{
        margin: 0px 1vh;

    }

    .profilepic{
        height: auto;
        width: 45vw;
        margin-top: 5px;
        align-self: center;
        
    }
    main{
        margin: 2%;
        margin-top: 45px;
        flex-direction: column;
        
    }
    .about-main{
        margin: 2px 2px;
    }
    .logoti{
        display: none;
    }
    .EDIT{
        flex-direction: column;
    }
}

@media only screen and (max-width: 300px){
    li{
        margin: 0%;

    }
    .header-buttons{
        padding: 2vh;
        height: 100%;
        width: 100%;

    }
    main{
        margin: 0%;
    }
}
@media only screen and (max-width: 800px){
    .logoti{
        display: none;
    }
    .about-main{
        margin: 2px 2px;
    }
    .header-buttons{
        padding: 2vh;
        height: 100%;
        width: 100%;
    }
}

h1{
    margin: 0%;
    
}

.slideshow-container {
    max-width: 1000px;
    height: auto;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--textcolor);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  



